// Import page-specific CSS files here.
@import "home";

h3 {
opacity: .7;
}

.rev {
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

p {
    margin-bottom: 0.25rem;
}
